{% extends 'dashboard.twig' %}

{% block title %}Clients | {{ parent() }}{% endblock %}

{% block contentTitle %}
Clients Managements
{% endblock %}

{% block content %}
<form class="mb-3 row g-3 w-100">
    <div class="col-md-2 d-flex align-items-end justify-content-end w-100">
        <button class="btn btn-outline-primary" type="submit">Add Client</button>
    </div>
</form>

<div class="row">
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Registered At</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.created_at|date('Y-m-d H:i') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No clients found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
