{% extends 'dashboard.twig' %}

{% block title %}Clients | {{ parent() }}{% endblock %}

{% block contentTitle %}
Clients Managements
{% endblock %}

{% block content %}
<div class="row">
    {# Flash errors or success #}
    {% if flash.error %}
        <div class="alert alert-danger">{{ flash.error[0] }}</div>
    {% endif %}
    {% if flash.success %}
        <div class="alert alert-success">{{ flash.success[0] }}</div>
    {% endif %}
</div>

<form class="mb-3 row g-3 w-100">
    <div class="col-md-2 d-flex align-items-end justify-content-end w-100">
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddClient" aria-controls="offcanvasAddClient">Add Client</button>
    </div>
</form>

<div class="row">
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Balance</th>
                <th>Email</th>
                <th>Registered At</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr style="cursor: pointer;">
                    <td>{{ client.id }}</td>
                    <td>{{ client.name }}</td>
                    <td>
                        {% if client.balance >= 0 %}
                            <span class="badge bg-success">+{{ client.balance }} &euro;</span>
                        {% else %}
                            <span class="badge bg-danger">{{ client.balance }} &euro;</span>
                        {% endif %}
                    </td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.created_at|date('Y-m-d H:i') }}</td>
                    <td class="flex">
                        <form method="POST" action="/clients/{{ client.id }}">
                            {{ httpMethod('DELETE') }}

                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i> Delete
                            </button>
                        </form>

                        <a href="/clients/{{ client.id }}" class="btn btn-info btn-sm">
                            <i class="bi bi-user"></i> Show
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">No clients found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddClient" aria-labelledby="offcanvasAddClientLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasAddClientLabel">Create Client</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container">
        <form method="POST" action="/clients/create">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" id="name" class="form-control" required value="{{ old.name|default('') }}">
            </div>

            {# <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <select name="role" id="role" class="form-select">
                    <option value="client" {% if old.role == 'client' %}selected{% endif %}>Client</option>
                    <option value="admin" {% if old.role == 'admin' %}selected{% endif %}>Admin</option>
                </select>
            </div> #}

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" required value="{{ old.email|default('') }}">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="deposit" class="form-label">Initial Deposit (&euro;)</label>
                <input type="number" name="deposit" id="deposit" class="form-control" value="0.00" step="0.01">
            </div>

            <div class="mb-3 form-check" style="cursor: pointer;">
                <input type="checkbox" name="allow_login" id="allow_login" class="form-check-input" value="0">
                <label for="allow_login" class="form-check-label">Allow Login</label>
            </div>

            {{ csrfToken('create_client_form') }}

            <button type="submit" class="btn btn-primary">Create Client</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}
