{% extends 'dashboard.twig' %}

{% block contentTitle %}
All Time Reports
{% endblock %}

{% block content %}
<form method="GET" action="/dashboard#report" class="mb-3 row g-3">
    <div class="col-md-5">
        <label for="range" class="form-label">Range</label>
        <select class="form-select" name="range" id="range">
            <option value="all">All</option>
            <option value="today">Today</option>
            <option value="week">This Week</option>
            <option value="month">This Month</option>
        </select>
    </div>
    <div class="col-md-2 d-flex align-items-end">
        <button class="btn btn-outline-primary w-100" type="submit">Apply</button>
    </div>
</form>

<div class="row">
    <h5>Balance</h5>
    <p class="fs-4 fw-bold text-success">€ {{ report.balance|default('0.00') }}</p>
</div>

<div class="row">
    <h5>Movements</h5>
    <ul class="list-group">
        {% for movement in report.movements %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="badge bg-secondary">{{ movement.user.name }}</span>

            {% if movement.type == 'deposit' %}
                <span class="badge bg-warning">{{ movement.type }}</span>
                <span class="badge bg-info">+{{ movement.amount }} €</span>
            {% elseif movement.type == 'earning' %}
                <span class="badge bg-success">{{ movement.type }}</span>
                <span class="badge bg-info">+{{ movement.amount }} €</span>
            {% else %}
                <span class="badge bg-danger">{{ movement.type }}</span>
                <span class="badge bg-info">-{{ movement.amount }} €</span>
            {% endif %}

            </li>
        {% else %}
            <li class="list-group-item">No movements found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
